<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        /*Stili CSS*/

        /*stile per il titolo*/
        .jumbotron-bg {
            background-image: url('{{ url_for("static", filename="immagini/Tokyo.png") }}'); 
            background-size: cover; 
            background-position: center; 
            color: white;
            opacity: 50%;
        }

        /* Bottone per tornare indietro */
        .navbar-dark .navbar-nav .nav-link {
            color: white; /* Colore del testo bianco di default */
        }

        .navbar-dark .navbar-nav .nav-link:hover {
            color: #ffc107; /* Colore giallo quando ci si passa sopra con il mouse */
        }
    </style>
</head>
<body>
    <!-- Barra scura sopra il jumbotron -->
    <div class="bg-dark text-white py-4 ">
    </div>
    
    <!--Titolo-->
    <header>
        <div class="p-5 jumbotron-bg text-center text-white">
            <h1>Storia di Tokyo</h1>
            <p>Dalle origini alla modernita&grave;</p>
        </div>
    </header>

    <!-- Bottone per tornare indietro -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"> &lt;&lt;&lt; Torna Indietro</a>
                </li>
            </ul>
        </div>
    </nav>


<!-- Sezione Testo della Storia -->
    <div class="container mt-4 mb-4" style="font-family: Arial, sans-serif; line-height: 1.6;">
        <div>
            <h2>Le Origini: Edo</h2>
            <p>Le origini di <b>Tokyo</b> risalgono a un piccolo villaggio di pescatori chiamato <b>Edo</b>. Situato strategicamente alla foce del fiume Sumida,</br> 
                Edo inizi&ograve; a guadagnare importanza nel 1603, quando Tokugawa Ieyasu stabilì il suo shogunato. Edo si trasform&ograve; rapidamente in un centro politico,</br>  
                culturale ed economico del Giappone, crescendo fino a diventare una delle citt&agrave; più popolose del mondo nel XVIII secolo.</br>  
                La citt&agrave; era famosa per il suo sistema avanzato di gestione urbana, con canali e quartieri ben pianificati.</br> 
            </p>
            <img src="/static/immagini/mappa_edo.png" alt="Mappa di Edo" class="img-fluid rounded" width="500px" style="margin: 15px;">
        </div>
        <div>
            <br />
            <br />
            <br />
            <h2>La Restaurazione Meiji</h2>
            <p>Nel 1868, Edo fu ribattezzata Tokyo, che significa <b>"Capitale dell'Est"</b>, durante la Restaurazione <b>Meiji</b>.</br> 
                Questo periodo segn&ograve; la fine del potere dello shogunato Tokugawa e il ritorno dell'imperatore come figura centrale.</br> 
                Tokyo divenne ufficialmente la capitale del Giappone, sostituendo Kyoto. La citt&agrave; sub&igrave; una rapida modernizzazione,</br> 
                con l'introduzione di infrastrutture occidentali, tra cui ferrovie, ponti e strade, e l'espansione delle istituzioni educative.</br> 
                Questa trasformazione fece di Tokyo il simbolo della modernit&agrave; giapponese.</br>
            </p>
            <img src="/static/immagini/meiji.png" alt="Tokyo nel 1868" class="img-fluid rounded" width="500px" style="margin: 15px;">
        </div>
        <div>
            <br />
            <br />
            <br />
            <h2>Tokyo moderna</h2>
            <p>Dopo aver subito gravi danni durante il Grande <b>Terremoto del Kanto</b> nel 1923 e la Seconda Guerra Mondiale, Tokyo si ricostru&igrave;,</br>  
                diventando una delle citt&agrave; più dinamiche del mondo. Negli anni '60, con il miracolo economico giapponese, Tokyo si trasform&agrave; in un centro globale di finanza,</br>  
                tecnologia e cultura. Oggi, la citt&agrave; &egrave; famosa per i suoi grattacieli, i quartieri futuristici come Shibuya e Akihabara,</br>  
                e la combinazione unica di tradizione e modernit&agrave;. Tokyo ospita alcuni dei migliori ristoranti del mondo, ed &egrave; considerata un faro culturale per cinema, anime, e moda.</br> 
            </p>
            <img src="/static/immagini/shibuya2.png" alt="Shibuya Crossing a Tokyo" class="img-fluid rounded" width="500px" style="border: 2px solid black; margin: 15px;">
        </div>
    </div>
</body>
</html>